.right {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #33414e;
  gap:2.35em;
}
.titleRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-top: 1em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}
.displaySelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  gap: 2em;
}
.converterBox > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  gap: 1em;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.types > .select1st {
  font-size: 14px;
  color: #f4feff;
  background-color: #667391;
  border-radius: 0.25em;
  height: 2em;
  width: 4.5em;
}
.types > .select2nd {
    font-size: 14px;
    color: #f4feff;
    background-color: #667391;
    border-radius: 0.25em;
    height: 2em;
    width: 4.5em;
  }
.input > input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #667391;
  border: none;
  border-radius: 0.25em;
  height: 2em;
  color: #f4feff;
}
.input > input::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4feff;
  padding-left: 0.5em;
}
.input > input:hover {
  text-decoration: none;
}
.types {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.buttonSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #667391;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.25em;
  width: 5em;
  height: 2em;
  color: #f4feff;
}
.titleRight > label {
  color: #d5fafd;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.math {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  gap: 0.5em;
}
.math > #result {
    background-color: #667391;
    width: 25%;
    height: 2em;
  }
.math > #calculationWindow {
  background-color: #667391; 
  width: 75%;
  height: 5em;
}
.math > p{
    color: #d5fafd;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.types > .to{
    color: #d5fafd;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}