.left {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #33414e;
}

.titleLeft {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-top: 3em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}
.unitSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22.5em;
  gap: 2em;
}
.columnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columnRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columnLeft > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columnLeft > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  color: #d5fafd;
  font-family: Inter;
  font-size: 14.76px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.columnRight > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columnRight > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  color: #d5fafd;
  font-family: Inter;
  font-size: 14.76px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.titleLeft > p {
  color: #d5fafd;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
